chezmoi:template:missing-key=invalid
{{- $ci := (eq (env "GITHUB_ACTIONS") "true") -}}
{{- $container := (or (eq (env "REMOTE_CONTAINERS") "true") (eq (env "CODESPACES") "true")) -}}
sourceDir: "{{ .chezmoi.sourceDir }}"

data:
    machine:
        ci: {{ $ci }}
        container: {{ $container }}
        work_laptop: {{ and (not $ci) (or (eq .chezmoi.hostname "T23WHWQH20") $container) }}
        home_server: {{ eq .chezmoi.hostname "UNKNOWN" }}

