chezmoi:template:missing-key=invalid
{{- $encryption_key := coalesce (env "CHEZMOI_ENCRYPTION_KEY") .chezmoi.config.data.encryption_key -}}
{{- $encryption_key = $encryption_key | trim -}}
sourceDir: "{{ .chezmoi.sourceDir }}"

data:
    encryption_key: {{ $encryption_key | quote }}
    machine:
        work_laptop: {{ eq .chezmoi.hostname "T23WHWQH20" }}
        home_server: {{ eq .chezmoi.hostname "UNKNOWN" }}

gpg:
    symmetric: true
    args: ["--batch", "--no-symkey-cache", "--passphrase", {{ $encryption_key | quote }}]
