[user]
    name = Tim Pansino
    email = timpansino@gmail.com
{{- if .chezmoi.config.data.machine.work_laptop }}
    signingkey = 6F668B07D15E2B62
    #name = newrelic
    #email = opensource@newrelic.com
{{- end }}

[alias]
    co = checkout
    pl = pull
    plr = pull --rebase
    br = branch
    mr = merge
    mra = merge --abort
    mrc = merge --continue
    st = status
    cm = commit
    rs = reset
    rsh = reset --hard
    rso = "!f() { git fetch origin; git reset '@{u}';}; f"
    rb = rebase -i
    rba = rebase --abort
    rbc = rebase --continue
    sw = switch
    nb = checkout -b
    cp = cherry-pick
    ft = fetch --all --prune --force
    fp = push --force-with-lease
    pb = push -u origin HEAD
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    hidden = ! git ls-files -v | grep '^h' | cut -c3-
    tags = tag -l
    drop = reset HEAD^
    hash = "!git rev-parse ${1:-HEAD}"
    sha = hash
    bump = commit --allow-empty -m 'Bump tests'
    veryclean = clean -fXd
    vclean = clean -fXd
    rekt = "!f(){ git checkout --orphan rekt && git commit -m 'Initial commit';};f"
    hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{`{{%an}}`}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
    orphans = reflog --all --date-order
    resign = "!f(){ git rebase --exec 'git commit --amend --no-edit -n -S' -i ${1:-main};};f"
    gc-all = -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc

[core]
    autocrlf = input
    safecrlf = true
    excludesfile = ~/.gitignore
    editor = vim

[pull]
    rebase = false

[init]
    templatedir = ~/.git-templates
	defaultBranch = main

{{ if .chezmoi.config.data.machine.work_laptop -}}
[gpg]
	program = /opt/homebrew/bin/gpg

[commit]
	gpgsign = false
{{ end }}
